name: Build and Push Wechat Docker Images

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Multi-Arch WeChat
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --build-arg TARGETARCH=$TARGETPLATFORM \
            -t weiensong/wechat:$SHORT_SHA \
            -t weiensong/wechat:latest \
            --push \
            ./wechat
